body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(244, 248,254);
}
nav li{
    list-style: none;
    margin-left: 50px;
    margin-right: 50px;
}

nav li button{
    border: none;
    background-color: #4E47FF;
    padding: 10px;
    font-weight: bold;
    width: 120px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    height: 50px;
}

nav li button:hover{
    background-color: turquoise;
    transition: 0.5s;
}

nav li h1{
    color: #4E47FF;
    font-size: 30px;
    font-weight: bold;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    background-image: url(Assets/Hero-bg.png);
    width: 100%;
    height: auto;
    padding: 20px;
}

#banner h1{
    text-align: center;
    font-weight: bold;
    font-size: 100px;
}

#btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn button{
    height: 50px;
    width: 150px;
    background-color: #4E47FF;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

#btn button:hover{
    transition: 0.5s;
    background-color: turquoise;
    cursor: pointer;
}

