body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(244, 248,254);
    overflow-x: hidden;
}
nav li{
    list-style: none;
    margin-left: 50px;
    margin-right: 50px;
}

nav li button{
    border: none;
    background-color: #4E47FF;
    padding: 10px;
    font-weight: bold;
    width: 120px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    height: 50px;
}

nav li button:hover{
    background-color: turquoise;
    transition: 0.5s;
}

nav li h1{
    color: #4E47FF;
    font-size: 30px;
    font-weight: bolder;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    background-image: url(Assets/Hero-bg.png);
    width: 100%;
    height: auto;
    padding: 20px;
}

#banner h1{
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    text-wrap: wrap;
}

#btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn button{
    height: 50px;
    width: 150px;
    background-color: #4E47FF;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

#btn button:hover{
    transition: 0.5s;
    background-color: turquoise;
    cursor: pointer;
}

#box{
    display: flex;
    margin: 50px;
    padding: 30px;
    height: 300px;
}

#box #div1{
    width: 50%;
    text-align: left;
}

#box #div1 h1{
    font-weight: bold;
}

#box #div1 h3{
    color: grey;
}

#box #div1 button{
    background-color: #4E47FF;
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

#box #div1 button:hover{
    transition: 0.5s;
    background-color: turquoise;
}
#box #div2{
    width: 50%;
    text-align: right;
}

#box #div2 img{
    border-radius: 20px;
    margin: 0 auto;
    width: 50%;
    height: 300px;
}

#productive{
    background-color: rgb(171, 202, 214);
    margin: 80px;
    height: 300px;
    padding-top: 30px;
    border-radius: 20px;
}

#productive #info{
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

#productive #info div{
    height: 150px;
    width: 150px;
}

#productive #info div span{
    font-size: 60px;
    font-weight: bold;
    display: block;
    color: #4E47FF;
}

#review{
    margin: 70px 20px;
    gap: 10px;
}

#heading{
    text-align: center;
}

#users{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#users div{
    background-color: white;
    border-radius: 5px;
    height: 150px;
    width: 300px;
}

#field{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
    border: none;
}

#field h1{
    font-size: 70px;
}

#field input{
    height: 30px;
    width: 300px;
    border-radius: 10px;
    border: none;
}

#field textarea{
    width: 300px;
    font-size: large;
    border-radius: 10px;
    border: none;
}

#footer{
    text-align: center;
    background-color: white;
    width: 100%;
    height: 300px;
}

#footer #head{

    display: flex;
    color: #4E47FF;
    font-weight: bold;
    font-size: 40px;
    justify-content: center;
}

#footer #para{
    display: flex;
    justify-content: center;
}

#footer nav ul{
    display: flex;
    justify-content: space-around;
    cursor: pointer;

}

#footer nav ul:hover{
    color: green;
    font-size: 1.2em;
}